.App {
  background-color: white;
}

.App-main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  align-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #ffb600;
  margin-bottom: 50px;
}

.category-container {
  background-color: white;
}

.category-container button {
  margin: 5px;
  min-width: 150px;
}

.row {
  background-color: white;
}
.row:first-child {
  min-height: 50px;
}
.row:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.category-header {
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}
